* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

h3 {
  color: white;
}

.home {
  height: 100vh;
  background-color: black;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.home .btn {
  margin: 0;
}

.home-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 3em 5em;
  backdrop-filter: blur(4px);
  border-radius: 2em;
}

.add:hover {
  color: #000000 !important;
}

.example-custom-input {
  background-color: #fff;
  border: 0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  padding: 10px 20px;
}

.example-custom-input:focus {
  outline: 0;
}

/* DATAPICKER */
.react-datepicker {
  font-size: 1em !important;
  font-family: Arial !important;
}

.react-datepicker__header.react-datepicker-year-header {
  width: 300px;
}

.react-datepicker__month-text {
  width: 80px !important;
  padding: 5px !important;
  margin: 5px 5px !important;
}

.react-datepicker__monthPicker {
  height: 150px;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.react-datepicker__month-wrapper {
  margin: 4px;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__month-text--keyboard-selected {
  background-color: #000000 !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #000000 !important;
}

.react-datepicker__navigation--next {
  border-left-color: #000000 !important;
}

.react-datepicker__navigation--previous:focus,
.react-datepicker__navigation--next:focus {
  outline: 0 !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: 0 !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.input-group-text {
  color: #ffffff !important;
  background-color: #000000 !important;
}

/* FORMS */

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type='text']:not(.browser-default):focus:not([readonly]),
.md-form input[type='password']:not(.browser-default):focus:not([readonly]),
.md-form input[type='email']:not(.browser-default):focus:not([readonly]),
.md-form input[type='url']:not(.browser-default):focus:not([readonly]),
.md-form input[type='time']:not(.browser-default):focus:not([readonly]),
.md-form input[type='date']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime']:not(.browser-default):focus:not([readonly]),
.md-form
  input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]),
.md-form input[type='number']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search']:not(.browser-default):focus:not([readonly]),
.md-form input[type='phone']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f0ab51;
  box-shadow: 0 1px 0 0 #f0ab51;
}

.form-control:focus,
.custom-select:focus {
  border-color: transparent !important;
  /* box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important; */
}

select option {
  background-color: #000000 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important;
}

select option:hover {
  background-color: #000000 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 172, 80, 0.5) !important;
}

select option:not(:checked) {
  background-color: #fff !important;
  color: #000 !important;
}

select option:checked:after {
  content: attr(title);
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

.input-feedback {
  color: red;
  margin: 0.25rem 0 1.25rem;
  font-weight: bold;
}

input.error {
  border-color: red;
}

.containercard {
  max-height: 481px !important;
  overflow: auto;
}

.header-lg {
  display: flex;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title span {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 80px;
  background: radial-gradient(
    circle,
    rgba(247, 150, 192, 1) 0%,
    rgba(118, 174, 241, 1) 100%
  );
  color: #000;
  width: 100%;
  padding: 0 100px;
}

.main-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.main-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.main-container {
  min-height: calc(100vh - 150px);
  background-color: #f4f0eb;
  padding: 40px 100px 0;
}

.expense-item-container {
  margin: 10px;
  display: flex;
  align-items: center;
  height: 220px;
  width: 30%;
  background-color: #fff;
  padding: 0 20px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px 0 20px 0;
}

.expense-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-item-header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fe;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.list-expenses-info {
  display: flex;
  margin-top: 5px;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.expense-item-header-logo {
  color: #77b6ff;
  font-size: 22px;
}

.list-expenses {
  background-color: #f1f2f7;
  border-radius: 3%;
}

.list-expenses-info-date {
  text-align: center;
  font-family: roboto;
  font-weight: bold;
  font-size: 17px;
}

.list-expenses-info-transactions {
  text-align: center;
  font-family: roboto;
  font-size: 17px;
}

.list-expenses-body-nempty {
  max-height: 481px;
  overflow: auto;
  padding: 0 10px 0 0;
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.list-expenses-body-empty {
  max-height: 481px;
  overflow: auto;
  padding: 0 10px 0 0;
}

.empty-ecpenses {
  color: #000;
  font-size: 18px;
  margin: 25px;
  text-align: center;
}

.expense-item-name {
  font-weight: bold;
  font-size: 20px;
}
.expense-item-date {
  color: #a9a9a9;
  font-weight: bold;
  font-size: 18px;
}

.expense-approval {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.expense-approval-approved {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #dd1ac3;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}
.expense-not-approved {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f05246;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}

.expense-item-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}

.expense-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-item-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 43px;
  height: 43px;
  margin-right: 5px;
  margin-top: 8px;
}
.expense-item-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 43px;
  height: 43px;
  margin-right: 5px;
}
.expense-item-view-logo {
  color: rgba(255, 9, 66, 0.9);
  font-size: 26px;
  cursor: pointer;
}
.expense-item-edit-logo {
  color: #2ec57f;
  font-size: 22px;
  cursor: pointer;
}
.expense-item-delete-logo {
  color: #e64e20;
  font-size: 26px;
  cursor: pointer;
}

.date-picker {
  width: 200px;
  margin: 20px 0 0;
  padding: 10px;
  border-width: 0px;
  font-size: 1rem;
  border: 1px solid #ddd !important;
  position: relative;
  border-radius: 5px;
}

.calendar-icon {
  font-size: 25px;
  color: #000;
}

.add-expense-btn,
.edit-expense-btn {
  width: 100%;
  border-radius: 10px;
  margin: 0;
  margin-top: 50px;
  box-shadow: none;
}

.select-approval {
  width: 100%;
  outline: 0px;
}

.form-container {
  background-color: #f5f5f5;
  border-radius: 33px;
  padding: 20px 10px 20px 30px;
  margin: 20px 0;
}

.expense {
  background-color: #f1f2f7;
}

.custom-btn {
  width: 8.125rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5px;
  padding: 0.625em 1.5em;
  font-family: inherit;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  background: radial-gradient(
    circle,
    rgba(247, 150, 192, 1) 0%,
    rgba(118, 174, 241, 1) 100%
  );
}
button {
  margin: 1.5em;
}

/* ANT */

.ant-picker {
  border: 0 !important;
}

.ant-select-selector {
  border: 1px solid #d9d9d9 !important;
  padding-left: 0px !important;
  box-shadow: none !important;
  width: 500px !important;
  border-radius: 5px;
  font-size: 14px;
}

.ant-picker-input > input::placeholder {
  color: #6c757d !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.selectapproved .ant-select-selection-placeholder {
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px !important;
}

.ant-picker-input > input {
  color: #495057 !important;
  font-size: 1rem !important;
}

.ant-picker-input:focus {
  outline: 0 !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-bottom-color: #b3c743 !important;
  border-color: #40a9ff !important;
}

.ant-picker-focused {
  outline: 0 !important;
  box-shadow: 0 0 0 0px rgb(255, 255, 255) !important;
  border-right-width: 0px !important;
}

.ant-picker-dropdown.ant-picker-dropdown-placement-bottomLeft {
  left: 130px !important;
  top: 282px !important;
}

.selectapproved:hover {
  outline: 0;
}

.ant-select-selection-item {
  padding-left: 5px !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-right-width: 1px !important;
}

/************* VERSION_MOBILE ************/
@media screen and (max-width: 1230px) {
  .expense-item-edit-container {
    width: 35px;
    height: 35px;
  }
  .expense-item-delete-container {
    width: 35px;
    height: 35px;
  }
  .expense-item-view-logo {
    font-size: 15px;
  }
  .expense-item-edit-logo {
    font-size: 15px;
    line-height: 0;
  }
  .expense-item-delete-logo {
    font-size: 15px;
  }

  .expense-item-name {
    font-size: 15px;
  }
  .expense-item-amount {
    font-size: 15px;
  }
  .expense-approval-approved {
    font-size: 15px;
  }
  .expense-not-approved {
    font-size: 15px;
  }
  .expense-item-date {
    font-size: 15px;
  }
  .expense-item-header-logo-container {
    width: 35px;
    height: 35px;
  }

  .expense-item-header-logo {
    color: #77b6ff;
    font-size: 15px;
  }

  .list-expenses-info {
    display: flex;
    margin: 20px 20px 20px;
    justify-content: center;
    align-items: center;
  }
  .expense-item-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    height: 220px;
    width: 45%;
    background-color: #fff;
    padding: 0 20px;
  }
  .main-container {
    /* min-height: calc(100vh - 350px); */
    background-color: #f1f2f7;
    padding: 40x 100px 0;
  }
  .header-title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    display: none;
  }
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    padding: 50px 100px;
  }
  .header-lg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-title span {
    font-size: 20px;
  }
  .example-custom-input {
    /* margin-top: 0px; */
    width: 225px;
    padding: 10px 20px;
  }
  .react-datepicker-popper {
    left: 45px !important;
  }
  .main-header ul {
    justify-content: center;
    margin-bottom: 0;
  }
  .main-header ul li {
    margin-left: 0px;
  }
}
